/*
 * Global
 */
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	background-color: #fdfdfd;
  font-family: 'Open sans', Helvetica, sans-serif;
}

.half-size {
  margin: auto;
  display: block;
  max-width: 40%
}

/* Icons */
.footer .fa {
  font-size: 2.5em;
	padding: 0px 15px 0px 15px;
  text-decoration: none;
}

/*
 * The Grid
 */

.container {
  padding: 20px;
	max-width: 800px;
	margin: auto;
}



.postTitle {
	max-width: 960px;
	margin: auto;
}

/*
 * Navigation
 */

.nav {
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
	width: 100%;
	background-color: #fdfdfd;
}

.nav .icon {
	display: none;
}

.nav a {
	display: inline;
	text-decoration: none;
  color: #222;
	padding: 10px 15px;
}

/*
 * Typography
 */

 p {
	 line-height: 1.5;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
 	font-family: 'Oswald', sans-serif;
 	letter-spacing: 0.1px;
 }

 h1 a, h2 a, h3 a {
   text-decoration: none;
   position: relative;
   color: #222;
 }

 h1 a:hover {
 	text-decoration: none;
 }

 h1 a:before,
 h2 a:before,
 h3 a:before {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #F00;
   visibility: hidden;
   -webkit-transform: scaleX(0);
   transform: scaleX(0);
   -webkit-transition: all 0.3s ease-in-out 0s;
   transition: all 0.3s ease-in-out 0s;
 }

 h1 a:hover:before,
 h2 a:hover:before,
 h3 a:hover:before {
   visibility: visible;
   -webkit-transform: scaleX(1);
   transform: scaleX(1);
 }

a {
  color: #636363;
}

ol li,
ul li {
  font-family: 'Open sans', sans-serif;
  margin: 0.5em;
}

blockquote p{
  border-left: solid 5px #f00;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  line-height: 1.35;
  padding-left: .75rem;
  padding-right: .75rem;
}

hr {
	border-top: 2px solid #E7E7E7;
	border-bottom: none;
	border-left: none;
	margin-top: 40px;
	margin-bottom: 40px;
}

label, input, textarea {
	display: block;
  font-family: 'Work Sans', sans-serif;
  font-size: inherit;
	margin-bottom: 5px;
}

pre {
	white-space: pre-wrap;
}

.project {
	overflow: hidden;
}

.highlighter-rouge { font-size: .95em; background-color: #f1f1f1; }

@media screen and (max-width: 600px) {
	p {
		font-size: 1em;
	}
	.nav a:not(.icon) {display: none; }
	.nav a.icon {
		float: right;
		display: block;
		text-decoration: none;
		padding-bottom: 0;
	}
	.nav.responsive {position: relative;}
	.nav.responsive a.icon {
		position: relative;
	}
	.nav.responsive a {
		float: none;
		display: block;
		text-align: right;
	}
}
